<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854385689677-jjg3a81147a48h3d34vqr7jbpuik4kal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854385689677-jjg3a81147a48h3d34vqr7jbpuik4kal</string>
	<key>API_KEY</key>
	<string>AIzaSyCKuyhjG4cIlSobwoXyjryQA5aRJNCe1ko</string>
	<key>GCM_SENDER_ID</key>
	<string>854385689677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFireMovie</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-movie</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-movie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854385689677:ios:e02394e87ac6480ab70804</string>
</dict>
</plist>